body{
    height: 100%;
}

.raised{
    z-index:2;
}
#dash{
	display:flex;
	flex-direction:column;
    margin-left:20%;
    height:100vh;
    overflow: none;
}

#dashrow1{
	display:flex;
	flex-direction:row;
     padding: 0 1%;
    height:55%;
}
.flexbox{
	justify-content:center;
     align-items:center;
     flex-direction:column;
     margin-top:13%;
}

#dashboardWrapper{
	margin-top:16%;
	margin-left:auto;
	margin-right:auto;
}


#tripTable2 {
    max-width: 414px;
    max-height: 434px;
}

#dashboardWrapper2{
	
	margin-left:auto;
	margin-right:auto;
}

.headline{
	font-family:sans-serif;
	text-align:center;
	color:red;
}

.caption{
	font-family:sans-serif;
	text-align:center;
	color:green;
}

#formbox{
	border:none;
    margin: 0 1%;
}

#formbox1{
	border: 2px solid black;
    position: relative;
    width: fit-content;
    border-radius: 10px;
    padding: 7px;
    display: flex;
    min-width: 200px;
    height:100%;
    overflow-y:auto;
    position: relative;
    margin: 0 1%;
}

#formbox2{
	border: 2px solid black;
    position: relative;
    width: fit-content;
    border-radius: 10px;
    padding: 7px;
    display: flex;
    min-width: 200px;
    height:100%;
    overflow-y:auto;
    position: relative;
    margin: 0 1%;
}

#formbox3{
	border: 2px solid black;
    position: relative;
    width: fit-content;
    border-radius: 10px;
    padding: 7px;
    display: flex;
    min-width: 200px;
    height:100%;
    overflow-y:auto;
    margin: 0 1%;
}

#formbox4{
	border:2px solid black;
	position: relative;
	width: fit-content;
    border-radius: 10px;
    padding: 7px;
    display: flex;
    min-width: 200px;
    height:100%;
    overflow-y:auto;
    max-height:428px;
    max-width:218px;
    overflow-y:auto;
    margin: 0 1%;
}

#total,.blackBottom{
	border-bottom:1px solid black;
}

.statTitle{
	font-weight:bold;
	font-family:sans-serif;
	text-align:center;
	
}

.hideTrip{
	display:none;
}

.showTrip{
	display:block;
}

#tripTitle{
	margin-top:16%;
}

#dashrow2{
	display:flex;
	flex-direction:row;
    padding: 0 1%;
    height:45%;
    width:fit-content;
}

#tripHistoryBox{
    overflow-y:auto;
    max-height: 110px;
}

#formbox5{
	border:2px solid black;
	position: relative;
	width: fit-content;
    border-radius: 10px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    height:fit-content;
    width:40%;
    max-height:428px;
    /*max-width:218px;*/
    margin: 3% 1%;
}

#formbox6{
	border:2px solid black;
	position: relative;
    border-radius: 10px;
    padding: 7px;
    display: flex;
    height:fit-content;
    width:fit-content;
    overflow-y:auto;
    max-height:428px;
    /*max-width:218px;*/
    margin: 3% 1%;
}

#userDataBox{
	 overflow-y:auto;
	 max-height:218px;
}

#usersBox{
	overflow-y:none;
}

.resultNone{
	font-family:sans-serif;
	font-weight:bold;
	text-align:center;
}

#dashCabRow,#dashLocRow,#dashUserRow{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: row;
}

.dashCabColumn{
	border:2px solid black;
	position: relative;
    border-radius: 10px;
    padding: 7px;
    display: flex;
    height:70%;
    width:50%;
    max-width:50%;
    max-height:428px;
    /*max-width:218px;*/
    margin: 3% 1%;
    flex-direction:column;
  
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.dashLocColumn{
	border:2px solid black;
	position: relative;
    border-radius: 10px;
    padding: 7px;
    display: flex;
    height:70%;
    width:50%;
    max-width:50%;
    overflow-y:auto;
    max-height:428px;
    /*max-width:218px;*/
    margin: 3% 1%;
    flex-direction:column;
  
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.dashUserColumn{
	border:2px solid black;
	position: relative;
    border-radius: 10px;
    padding: 7px;
    display: flex;
    height:70%;
    width:50%;
    max-width:50%;
    max-height:428px;
    /*max-width:218px;*/
    margin: 3% 1%;
    flex-direction:column;
  
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#dashCabColumn2,#dashLocColumn2,#dashUserColumn2{
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
}



.cab,.loc{
	border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    width: fit-content;
    min-width: 80%;
    padding: 15px;
    margin-bottom: 8px;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
 
}

.select{ 
     color: black;
    
    }

.field{
        border-left: none;
        border-right: none;
        border-top: none;
        border-radius: 1.2px;
        padding:5px;
        outline:none
}
       
.field:focus{
         border-left: none;
         border-right: none;
         border-top: none;
         outline:none;
         border-bottom:2px solid green;
}   

.greenBtn{
    background-color: green;
    color:white;
    cursor:pointer;
    padding: 15px;
    font-size: 0.6em;
    font-weight: bold;
    border-radius: 7px;
    border-color: white;
    border-color: #0f0700;
    display:table;
    margin:5% auto;
   }

   .fullForm{
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    max-height:270px;
   }

   .cabsSubForm,.usersSubForm{
    border:2px solid black;
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    padding: 5%;
    margin-top:3%;
   }

   .form{
    flex-direction: column;
   }

   .addBtn{
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    color: black;
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border:solid black;
    /*min-width: 42px;
    min-height: 51px;*/
   }

   .addBtn:hover{
    background-color: green;
    color:white;
    border:solid green;
    transition-duration: 450ms;
   }
   
   .removeBtn{
    font-weight: bold;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    color: red;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    height: 17px;
    width:15px;
    margin-left: 45px;
    border:2px solid red;
    text-align: center;
   }

   .removeBtn:hover{
    background-color: red;
    cursor: pointer;
    color: white;
    transition-duration: 450ms;
   }

   #submitAddCabs{
    margin-top: 3%;
   }

   #cabsBox{
    overflow-y: auto;
    max-height:250px;
   }
   
   .hideStats{
     display:flex;
     flex-direction:column;
   }
   
   .accordion{
     display:none;
   }

@media only screen and (max-width: 600px) {
	
	#dash{
	   margin-left:0px;
	   overflow-y: auto;
       margin-bottom: 20%;
	}
	
    #dashCabRow{
        flex-direction: column;
    }
    
    #dashrow1{
     flex-direction:column;
     height:fit-content;
     position: relative;
     margin-top: 50%;
    }
    
    #dashrow2{
      flex-direction:column;
      height:fit-content;
    }
    
    .hideStats{
     display:none;
   }
   
   .accordion{
     display:block;
     margin: 0 15%;
   }
   
   #dashboardWrapper2{
     display:flex;
     flex-direction:row;
   }
   
   #formbox1,#formbox2,#formbox3,#formbox4{
     height:fit-content;
     background: hsl(221,70%,92%);
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 14.5px );
     -webkit-backdrop-filter: blur( 14.5px );
     border-radius: 10px;
     border: 1px solid rgba( 255, 255, 255, 0.18 );
     margin-bottom:15%;
     cursor:pointer;
     display: flex;
     flex-direction: column;
     align-self:center;
     border:2px solid black;
   }
   
   #formbox5{
    width:fit-content;
    height:fit-content;
    align-self:self-start;
    background: hsl(221,70%,92%);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 14.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 10px;
   }
   
   #formbox6{
     width:fit-content;
     height:fit-content;
     align-self:center;
     flex-direction:column;
     background: hsl(221,70%,92%);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 14.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 10px;
   }
   
   #showStats {
    display: flex;
    flex-direction: column;
   }
   
   .trip,.filterOptions{
     background-color:white;
   }
   
   .dashCabColumn{
     align-self:center;
     margin:2% 3%;
     background: hsl(221,70%,92%);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 14.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 10px;
   }
   
   #dashCabColumn1 {
    width: fit-content;
    min-width: fit-content;
    margin-bottom: 25%;
  }
  
  #dashCabColumn2{
    min-width:fit-content;
    height:fit-content;
  }
  
  #dashLocRow,#dashUserRow{
    flex-direction:column;
    
  }
  
  .dashLocColumn,.dashUserColumn{
    align-self:center;
    min-width:fit-content;
    background: hsl(221,70%,92%);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 14.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 10px;
  }
  
  .loc{
    background-color:white;
  }
  
}
