:root {
  --color-primary: brown;
  --color-secondary:  black;
}

aside.side-bar-wrap {
  --radius-size: 25px;
  height: 100%;
  position: fixed;
  top: 0vh;
  left: 0px;
  margin-left:0px;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity:1;
  z-index: 5;
  padding-right: 2px;
}

aside.side-bar-wrap::-webkit-scrollbar {
  width: 10px;
}

aside.side-bar-wrap::-webkit-scrollbar-track {
  background-color: transparent;
}

aside.side-bar-wrap::-webkit-scrollbar-thumb {
  border-radius: var(--radius-size);
  background-color: var(--color-primary);
}

nav.side-bar {
  min-height: 100%;
  background-color: var(--color-primary);
  display: inline-block;
  border-left: var(--radius-size) solid var(--color-secondary);
  border-right: var(--radius-size) solid var(--color-primary); 
}

nav.side-bar .logo-area {
  --curve-size: calc(2 * var(--radius-size));
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: var(--curve-size);
  background-color: var(--color-secondary);
  border-radius: 0 0 var(--radius-size) 0;
  box-shadow: var(--radius-size) 0 var(--color-secondary);
}

nav.side-bar .logo-area::after {
  content: '';
  width: var(--curve-size);
  height: var(--curve-size);
  background-color: var(--color-primary);
  border-radius: 50%;
  position: absolute;
  bottom: calc(-1 * var(--curve-size));
  left: 0;
  box-shadow:  calc(-1 * var(--curve-size) * 0.5)  calc(-1 * var(--curve-size) * 0.5) var(--color-secondary);
}

nav.side-bar .logo-area img {
  position: absolute;
  max-height: 75%;
  transition-duration: 1s;
}

aside.side-bar-wrap:hover nav.side-bar .logo-area img.min {
  max-height: 0;
  opacity: 0;
}

nav.side-bar .logo-area img.max {
  max-width: 0;
  opacity: 0;
  transition-duration: 1s;
}

aside.side-bar-wrap:hover nav.side-bar .logo-area img.max {
  max-width: 90%;
  opacity: 1;
}

nav.side-bar ul {
  padding: 0;
  margin: calc(2 * var(--radius-size)) 0;
  display: flex;
  flex-direction: column;
}

nav.side-bar ul li {
  height: 50px;
  padding: 10px var(--radius-size);
  list-style: none;
  border-radius: var(--radius-size);
  margin-bottom: var(--radius-size);
  z-index: 1;
}

nav.side-bar ul li:not(.active) {
  z-index: 2;
}

nav.side-bar ul li:not(.active):hover #logout2{
  backdrop-filter: brightness(0.85);
}

nav.side-bar ul li.active {
  position: relative;
  background-color: var(--color-secondary);
  border-radius: 0 var(--radius-size) var(--radius-size) 0;
}

nav.side-bar ul li.active::before,
nav.side-bar ul li.active::after {
  --curve-size: calc(2 * var(--radius-size));
  content: '';
  width: var(--curve-size);
  height: var(--curve-size);
  background-color: var(--color-primary);
  border-radius: 50%;
  position: absolute;
}

nav.side-bar ul li.active::before {
  top: calc(-1 * var(--curve-size));
  left: 0;
  box-shadow: calc(-1 * var(--curve-size) * 0.5) calc(var(--curve-size) * 0.5) var(--color-secondary);
}

nav.side-bar ul li.active::after {
  bottom: calc(-1 * var(--curve-size));
  left: 0;
  box-shadow: calc(-1 * var(--curve-size) * 0.5) calc(-1 * var(--curve-size) * 0.5) var(--color-secondary);
}

nav.side-bar ul li a{
  color: white;
  font-size: 16pt;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0;
  align-items: center;
  text-decoration: none;
  transition: 1s;
}

.active.title{
	color:green;
}

aside:hover nav.side-bar ul li a{
  gap: 10px;
}

nav.side-bar ul li a span {
  display: flex;
  transition: 0.75s cubic-bezier(0.39, 0.58, 0.57, 1);
}

nav.side-bar ul li a span.icon {
  font-size: 24pt;
}

nav.side-bar ul li a span.title {
  max-width: 0;
  opacity: 0;
  font-family:sans-serif;
  font-weight:bold;
  white-space: nowrap;
}

aside:hover nav.side-bar ul li a span.title {
  width: auto;
  max-width: 10rem;
  opacity: 1;
}

#logo{
	color:green;
	font-family:sans-serif;
	font-weight:bold;
}

.sizer{
	width:30px;
	height:30px;
}

.filter-white{
	filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(348deg) brightness(110%) contrast(102%);
}

#logout2{
	border:1px solid white;
	color:white;
	font-family:sans-serif;
	font-weight:bold;
	border: none;
	cursor:pointer;
	background-color:brown;
	font-size:1em;
}

#logout2:focus {
    border: none;
    outline: none;
}

#logout2:focus{
    outline:none !important;
}

.hide{
	display:block;
}

.mobileHeader{
	display:none;
	background-color:green;
	position:fixed;
	width:100%;
	height:fit-content;
	padding:2px 5px 2px 5px;
	text-align:center;
	top:0;
	left:0;
	background: green;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    backdrop-filter: blur( 7.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.mobileTitle{
	color:white;
	text-align:center;
}


@media only screen and (max-width: 600px) {
  .hide{
   display:none;
  }
  .mobileHeader{
    display:flex;
    z-index:5;
  }
  #formbox{
   left: 1%;
   max-width: 85%;
   min-width: 85%;
   margin-top: 70%;
   margin-bottom: 30%;
   padding-left: 7%;
   padding-right: 7%;
   transform: translateY(0%);
  }
}

