<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>com.tomcat_hello_world</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
    <servlet>  
      <servlet-name>ShowSignUpPage</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.ShowSignUpPage</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>ShowSignUpPage</servlet-name>  
     <url-pattern>/signup/*</url-pattern>  
    </servlet-mapping>  
    <servlet>  
      <servlet-name>Login</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.Login</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>Login</servlet-name>  
     <url-pattern>/login/*</url-pattern>  
    </servlet-mapping> 
    <servlet>  
      <servlet-name>Account</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.Account</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>Account</servlet-name>  
     <url-pattern>/account</url-pattern>  
    </servlet-mapping> 
    <filter>
      <filter-name>AuthFilter</filter-name>
      <filter-class>com.tomcat_hello_world.Security.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
      <filter-name>AuthFilter</filter-name>
      <url-pattern>/account</url-pattern>
    </filter-mapping>
    <servlet>  
      <servlet-name>Logout</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.Logout</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>Logout</servlet-name>  
     <url-pattern>/logout/*</url-pattern>  
    </servlet-mapping>
    <servlet>  
      <servlet-name>Auth</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.Auth</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>Auth</servlet-name>  
     <url-pattern>/auth</url-pattern>  
    </servlet-mapping>  
     <servlet>  
      <servlet-name>SignUp</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.SignUp</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>SignUp</servlet-name>  
     <url-pattern>/process/*</url-pattern>  
    </servlet-mapping> 
     <servlet>  
      <servlet-name>Admin</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.Admin</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>Admin</servlet-name>  
     <url-pattern>/admin</url-pattern>  
    </servlet-mapping>
    <servlet>  
      <servlet-name>FetchLocations</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.FetchLocations</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>FetchLocations</servlet-name>  
     <url-pattern>/fetchLocations/*</url-pattern>  
    </servlet-mapping>  
     <servlet>  
      <servlet-name>GetTrips</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.GetTrips</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>GetTrips</servlet-name>  
     <url-pattern>/account/GetTrips/*</url-pattern>  
    </servlet-mapping>  
     <servlet>  
      <servlet-name>CheckUsertrips</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.CheckUsertrips</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>CheckUsertrips</servlet-name>  
     <url-pattern>/account/CheckUsertrips/*</url-pattern>  
    </servlet-mapping>  
    <servlet>  
      <servlet-name>BookCab</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.BookCab</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>BookCab</servlet-name>  
     <url-pattern>/BookCab/*</url-pattern>  
    </servlet-mapping>  
    <servlet>
      <servlet-name>BookingConfirmed</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.BookingConfirmed</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>BookingConfirmed</servlet-name>  
     <url-pattern>/BookingConfirmed/*</url-pattern>  
    </servlet-mapping>  
     <servlet>
      <servlet-name>StartTrip</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.StartTrip</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>StartTrip</servlet-name>  
     <url-pattern>/StartTrip/*</url-pattern>  
    </servlet-mapping> 
     <servlet>
      <servlet-name>CancelTrip</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.CancelTrip</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>CancelTrip</servlet-name>  
     <url-pattern>/CancelTrip/*</url-pattern>  
    </servlet-mapping> 
     <servlet>
      <servlet-name>AdminDashboardDetails</servlet-name>  
      <servlet-class>com.tomcat_hello_world.User.Administrator.AdminDashboardDetails</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>AdminDashboardDetails</servlet-name>  
     <url-pattern>/AdminDashboardDetails/*</url-pattern>  
    </servlet-mapping> 
      <servlet>
      <servlet-name>UpdateProfile</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.Updateprofile</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>UpdateProfile</servlet-name>  
     <url-pattern>/updateProfile/*</url-pattern>  
    </servlet-mapping> 
     <servlet>
      <servlet-name>FetchStats</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.FetchStats</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>FetchStats</servlet-name>  
     <url-pattern>/admin/FetchStats/*</url-pattern>  
    </servlet-mapping>
    <servlet>
      <servlet-name>GetAdminTrips</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.GetAdminTrips</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>GetAdminTrips</servlet-name>  
     <url-pattern>/admin/GetAdminTrips/*</url-pattern>  
    </servlet-mapping>
    <servlet>
      <servlet-name>GetAdminCabs</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.GetAdminCabs</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>GetAdminCabs</servlet-name>  
     <url-pattern>/admin/GetAdminCabs/*</url-pattern>  
    </servlet-mapping>
    <servlet>
      <servlet-name>AddCabs</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.AddCabs</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>AddCabs</servlet-name>  
     <url-pattern>/admin/AddCabs/*</url-pattern>  
    </servlet-mapping>
    <servlet>
      <servlet-name>AddLocs</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.AddLocs</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>AddLocs</servlet-name>  
     <url-pattern>/admin/AddLocs/*</url-pattern>  
    </servlet-mapping>
     <servlet>
      <servlet-name>AddUsers</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.AddUsers</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>AddUsers</servlet-name>  
     <url-pattern>/admin/AddUsers/*</url-pattern>  
    </servlet-mapping>
    <servlet>
      <servlet-name>GetAdminLocs</servlet-name>  
      <servlet-class>com.tomcat_hello_world.Servlets.GetAdminLocs</servlet-class>  
    </servlet>  
    <servlet-mapping>  
     <servlet-name>GetAdminLocs</servlet-name>  
     <url-pattern>/admin/GetAdminLocs/*</url-pattern>  
    </servlet-mapping>
    <filter>
      <filter-name>ProfileFilter</filter-name>
      <filter-class>com.tomcat_hello_world.Security.ProfileFilter</filter-class>
    </filter>
    <filter-mapping>
      <filter-name>ProfileFilter</filter-name>
      <url-pattern>/updateProfile</url-pattern>
    </filter-mapping>  
    <error-page>
     <error-code>404</error-code>
     <location>/Error404.jsp</location>
    </error-page>
     <error-page>
     <error-code>500</error-code>
     <location>/Error500.jsp</location>
    </error-page>
     <error-page>
     <error-code>301</error-code>
     <location>/Error301.jsp</location>
    </error-page>
     <error-page> 
        <exception-type>java.sql.SQLException</exception-type> 
        <location>/Error1.jsp</location> 
    </error-page>
      <error-page> 
        <exception-type>java.lang.NullPointerException</exception-type> 
        <location>/Error2.jsp</location> 
    </error-page>
    <error-page> 
        <exception-type>java.lang.ClassNotFoundException</exception-type> 
        <location>/Error1.jsp</location> 
    </error-page>
</web-app>